@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#038C3E,#038C3E );
}

main { 
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #053d197e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
color: #034159;
text-align: center; 
text-shadow: 1px 1px 2px rgba(1, 26, 36, 0.719);
}

h2 {
color: #025951;
}

p {
text-align: justify;
}